@{
    ViewData["Title"] = "Home Page";
}


@model BetBank.Models.ViewModels.HomePageModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="homeHeader" id="home">

    <h1>Bet Bank</h1>
    <h2 style="padding-bottom: 16px;">We Don't Gamble. We Make Bank.</h2>

</div>

<div class="tcontainer">
    <div class="ticker-wrap">
        <div class="ticker-move-home-index">
            @foreach (TickerGames item in Model.TickerGames)
            {
                //negative means favorite
                @if (item.HomeSpread > item.AwaySpread)

                {
                    <div class="ticker-item" @if (item.FavoritedEvent) { @: style="background-color: #FFCC33;"
                         }>

                        @item.TimeOfEvent<br />
                        <a href="../Event/ViewEvent?eventId=@item.EventId"><i class="fa fa-chevron-up" style="color:green"></i>@item.AwayTeam</a>
                        [ <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Spread&_eventTime=@item.TimeOfEvent&_betTeam=true&_odd=@item.AwaySpread&_moneyline=@item.AwaySpreadMoneyLine">@item.AwaySpread</a>
                        : <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Moneyline&_eventTime=@item.TimeOfEvent&_betTeam=true&_odd=@item.AwayMoneyline&_moneyline=@item.AwayMoneyline">@item.AwayMoneyline</a> :
                        <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Total&_eventTime=@item.TimeOfEvent&_betTeam=true&_odd=@item.AwayTotal&_moneyline=@item.AwayTotalMoneyLine">@item.AwayTotal</a> ]
                        <br />
                        <div style="text-align:center">at</div>
                        <a href="../Event/ViewEvent?eventId=@item.EventId"><i class="fa fa-chevron-down" style="color:red"></i>@item.HomeTeam</a>
                        [ <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Spread&_eventTime=@item.TimeOfEvent&_betTeam=false&_odd=@item.HomeSpread&_moneyline=@item.HomeSpreadMoneyLine">@item.HomeSpread</a>
                        : <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Moneyline&_eventTime=@item.TimeOfEvent&_betTeam=false&_odd=@item.HomeMoneyline&_moneyline=@item.HomeMoneyline">@item.HomeMoneyline</a> :
                        <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Total&_eventTime=@item.TimeOfEvent&_betTeam=false&_odd=@item.HomeTotal&_moneyline=@item.HomeTotalMoneyLine">@item.HomeTotal</a> ]
                        <br />
                        <br />
                    </div>
                }
                else
                {
                    <div class="ticker-item" @if (item.FavoritedEvent) { @: style="background-color:#FFCC33;"
                         }>
                        @item.TimeOfEvent<br />
                        <a href="../Event/ViewEvent?eventId=@item.EventId"><i class="fa fa-chevron-down" style="color:red"></i>@item.AwayTeam</a>
                        [ <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Spread&_eventTime=@item.TimeOfEvent&_betTeam=false&_odd=@item.AwaySpread&_moneyline=@item.AwaySpreadMoneyLine">@item.AwaySpread</a>
                        : <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Moneyline&_eventTime=@item.TimeOfEvent&_betTeam=false&_odd=@item.AwayMoneyline&_moneyline=@item.AwayMoneyline">@item.AwayMoneyline</a> :
                        <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Total&_eventTime=@item.TimeOfEvent&_betTeam=true&_odd=@item.AwayTotal&_moneyline=@item.AwayTotalMoneyLine">@item.AwayTotal</a> ]
                        <br />
                        <div style="text-align:center">at</div>
                        <a href="../Event/ViewEvent?eventId=@item.EventId"><i class="fa fa-chevron-up" style="color:green"></i>@item.HomeTeam</a>
                        [ <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Spread&_eventTime=@item.TimeOfEvent&_betTeam=true&_odd=@item.HomeSpread&_moneyline=@item.HomeSpreadMoneyLine">@item.HomeSpread</a>
                        : <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Moneyline&_eventTime=@item.TimeOfEvent&_betTeam=true&_odd=@item.HomeMoneyline&_moneyline=@item.HomeMoneyline">@item.HomeMoneyline</a> :
                        <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Total&_eventTime=@item.TimeOfEvent&_betTeam=false&_odd=@item.HomeTotal&_moneyline=@item.HomeTotalMoneyLine">@item.HomeTotal</a> ]
                        <br />
                        <br />
                    </div>
                }

            }
        </div>
    </div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <audio autoplay><source src="../music/ka ching sound effect.mp3" type="audio/mpeg" /></audio>

    <div class="topnav" id="myTopnav">
        <a href="../Home/Index">Home</a>
        <a href="../Event/NFLIndex">NFL</a>
        <a href="../Event/NBAIndex">NBA</a>
        @*<a href="../Event/ESportsIndex">E-Sports</a>*@
    </div>

    <div class="userStatsDiv">
        <h2 style="color:black; padding-bottom: 50px;">My Stats</h2>
        <div class="graphImage">
            <iframe width="700" height="450" src="https://app.powerbi.com/reportEmbed?reportId=b9f212ed-b1ca-4a5a-83ae-89182d720d08&autoAuth=true&ctid=63fc817a-d494-4c82-9cf4-c3362b4cd615&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>

        <div class="userStats">

            <h3>Balance: @Model.UserStats.Balance.ToString("C")</h3>
            <table class="table" style="border-top-style: none; border-bottom-style: none;">
                <tr>
                    <th>Bet History</th>
                    <th>Total W/L</th>
                    <th>Total ROI</th>
                </tr>
                <tr>
                    <td>All Time</td>
                    <td>@Model.UserStats.TotalWinsRecord / @Model.UserStats.TotalLossRecord</td>
                    <td>@String.Format("{0:n1}", Model.UserStats.ReturnOnInvestment) %</td>
                </tr>
                <tr>
                    <td>Spread Bets</td>
                    <td>@Model.UserStats.SwinsRecord / @Model.UserStats.StiesRecord / @Model.UserStats.SlosesRecord</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Moneyline Bets</td>
                    <td>@Model.UserStats.MlwinsRecord / @Model.UserStats.MllossesRecord</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total Bets</td>
                    <td>@Model.UserStats.TwinsRecord / @Model.UserStats.TlosesRecord</td>
                    <td></td>
                </tr>
            </table>
            <table class="table" style="border-top-style: none; border-bottom-style: none;">
                <tr>
                    <th>Open Bets</th>
                    <th>Bet Type</th>
                    <th>Bet Amount</th>
                </tr>
                @{

                }
                @{
                    foreach (KeyValuePair<string, RecordOfBets> item in Model.UserStats.OpenBets)
                    {

                        <tr>
                            <td><a href="../Event/ViewEvent?eventId=@item.Value.EventId">@item.Key</a></td>
                            @if (item.Value.BetOdd > 0)
                            {
                                <td>@item.Value.BetType +@item.Value.BetOdd</td>
                            }
                            else
                            {
                                <td>@item.Value.BetType @item.Value.BetOdd</td>
                            }

                            <td>$@item.Value.AmountBet</td>
                        </tr>


                    }

                }
            </table>
            <div class="betLinkDiv">
                <ul>
                    <li><a href="../Bet/ViewOpenBets">Track Bets</a></li>
                    <li><a href="../Transaction">Deposit/Withdrawal From BB</a></li>
                </ul>

            </div>
        </div>
    </div>


}

else
{
    <!-- About Section -->
    <div class="howItWorksSection" id="about">
        <h2 style="color: black">How Does It Work</h2>
        <div class="w3-row-padding w3-center" style="padding-top:50px">
            <div class="w3-quarter">
                <i class="fa fa-user-plus fa-5x" id="icon"></i>
                <p class="iconText">Create Account<br />Add to Bet Bank</p>
            </div>
            <div class="w3-quarter">

                <i class="fa fa-line-chart fa-5x" id="icon"></i>
                <p class="iconText">Use our algorithm<br />Team1 vs. Team2<br />= Best Odds</p>

            </div>
            <div class="w3-quarter">

                <i class="fa fa-television fa-5x" id="icon"></i>
                <p class="iconText">Watch some sports</p>

            </div>
            <div class="w3-quarter">

                <i class="fa fa-usd fa-5x" id="icon"></i>
                <p class="iconText">Make Money!</p>

            </div>
        </div>
    </div>

    <!-- Team Section -->
    <div class="teamSection" id="team">
        <h2>The Dream Team</h2>
        <div class="w3-row-padding" style="padding-top:50px">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="~/img/HeadshotWithoutGlasses.jpeg" alt="Mike Gomez" style="width:100%; height:300px;">
                    <div class="w3-container">
                        <h3>Mike Gomez</h3>
                        <p style="text-align:center; color: grey">C#.Net Developer/CEO & Founder</p>
                        <p style="text-align: center;">Professional MMA Handicapper and Sports Bettor.</p>
                        <p><button onclick="window.location.href = 'https://github.com/mgomez1701';" class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> GitHub</button></p>
                        <p><button onclick="window.location.href = 'https://www.linkedin.com/in/mikegomez1701/';" class="w3-button w3-light-grey w3-block"><i class="fa fa-linkedin-square"></i> LinkedIn</button></p>
                    </div>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="~/img/Aaron.jpg" alt="Aaron Anderson" style="width:100%; height:300px;">
                    <div class="w3-container">
                        <h3>Aaron Anderson</h3>
                        <p style="text-align: center; color: grey;">Full Stack C#.Net Developer</p>
                        <p style="text-align: center;">Indie Developer. Problem Solver.</p>
                        <p><button onclick="window.location.href = 'https://github.com/Areln/';" class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> GitHub</button></p>
                        <p><button onclick="window.location.href = 'https://www.linkedin.com/in/aarona7728/';" class="w3-button w3-light-grey w3-block"><i class="fa fa-linkedin-square"></i> LinkedIn</button></p>
                    </div>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="~/img/Chris_BetBank.jpg" alt="Christopher Holmes" style="width:100%; height:300px;">
                    <div class="w3-container">
                        <h3>Christopher Holmes</h3>
                        <p style="text-align: center; color: grey;">C#.Net Developer/Beard Enthusist</p>
                        <p style="text-align: center;">Former Materials Scientist & Engineering Project Manager. Beard Conversationalist</p>
                        <p><button onclick="window.location.href = 'https://github.com/chrishasbeard';" class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> GitHub</button></p>
                        <p><button onclick="window.location.href = 'https://www.linkedin.com/in/holmeschristopherd/';" class="w3-button w3-light-grey w3-block"><i class="fa fa-linkedin-square"></i> LinkedIn</button></p>
                    </div>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-card">
                    <img src="~/img/IvoDapper.png" alt="Ivoire Morrell" style="width:100%; height:300px;">
                    <div class="w3-container">
                        <h3>Ivoire Morrell</h3>
                        <p style="text-align: center; color: grey;">Full Stack C#.Net Developer</p>
                        <p style="text-align: center;">Dynamic Software Developer with experience in coding, debugging, and software testing.</p>
                        <p><button onclick="window.location.href = 'https://github.com/imorrell';" class="w3-button w3-light-grey w3-block"><i class="fa fa-github"></i> GitHub</button></p>
                        <p><button onclick="window.location.href = 'https://www.linkedin.com/in/ivoiremorrell/';" class="w3-button w3-light-grey w3-block"><i class="fa fa-linkedin-square"></i> LinkedIn</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Pricing Section*@
    <div class="pricingSection" id="pricing">
        <h2 style="color: black">Membership Pricing</h2>
        <p style="color: black; text-align: center;"><strong>Choose a pricing plan that fits your needs.</strong></p>
        <div class="w3-row-padding" style="margin-top:64px">
            <div class="w3-third w3-section">
                <ul class="w3-ul w3-white w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32" style="text-align:center;"><strong>Basic</strong></li>
                    <li class="w3-padding-16"><b>10GB</b> Storage</li>
                    <li class="w3-padding-16"><b>10</b> Emails</li>
                    <li class="w3-padding-16"><b>10</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide" style="color: black;">Free</h2>
                    </li>
                    <li class="w3-light-grey w3-padding-24" style="text-align:center;">
                        <button class="w3-button w3-black w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>
            <div class="w3-third">
                <ul class="w3-ul w3-white w3-hover-shadow">
                    <li class="w3-red w3-xlarge w3-padding-48" style="text-align:center;"><strong>Pro</strong></li>
                    <li class="w3-padding-16"><b>25GB</b> Storage</li>
                    <li class="w3-padding-16"><b>25</b> Emails</li>
                    <li class="w3-padding-16"><b>25</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide" style="color: black;">$ 25</h2>
                        <h4 style="text-align: center; color: black;">per month</h4>
                    </li>
                    <li class="w3-light-grey w3-padding-24" style="text-align:center;">
                        <button class="w3-button w3-black w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>
            <div class="w3-third w3-section">
                <ul class="w3-ul w3-white w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32" style="text-align:center;"><strong>Premium</strong></li>
                    <li class="w3-padding-16"><b>50GB</b> Storage</li>
                    <li class="w3-padding-16"><b>50</b> Emails</li>
                    <li class="w3-padding-16"><b>50</b> Domains</li>
                    <li class="w3-padding-16"><b>Endless</b> Support</li>
                    <li class="w3-padding-16">
                        <h2 class="w3-wide" style="color: black;">$ 50</h2>
                        <h4 style="text-align: center; color: black;">per month</h4>
                    </li>
                    <li class="w3-light-grey w3-padding-24" style="text-align: center;">
                        <button class="w3-button w3-black w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Contact Us Section -->
    <div class="contactUs" id="contact">
        <h2>Contact Us</h2>
        <p style="text-align: center; color: white;">Hit us up! We would love to connect:</p>
        <div style="margin-top:30px">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Detroit, MI</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: 313.392.3456</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: makingbank@betbank.com</p>
            <br>
            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-black" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            <img src="../img/grandCircusMap.PNG" class="w3-image w3-greyscale" style="width:100%;margin-top:48px; height: 400px;">
        </div>
    </div>


}