
@using System.Security.Claims;
@{
    ViewData["Title"] = "AddTransaction";
}
@using BetBank.Models.ViewModels
<h1>AddTransaction</h1>

<form action="../Transaction/AddTransaction" method="post">
    <input type="hidden" name="TransactionId" value="@Model.TransactionId" />
    <input type="hidden" name="UserId" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
    <input type="hidden" name="TimeOfTransaction" value="@Model.TimeOfTransaction" />
    <input type="number" name="AmountOfTransaction" value="@Model.AmountOfTransaction" placeholder="$"/>
    <input type="radio" name="UserMadeTransAction" value="true" placeholder="Deposit" />
    <input type="radio" name="UserMadeTransAction" value="false" placeholder="Witdrawl" />
</form>
<br /><br />
      <table>
          <tr>
              <th>Transaction Id</th>
              <th>Time of Transaction</th>
              <th>Transaction Amount</th>

          </tr>
            @foreach(DepositsAndWithdrawls transaction in Model)
            {
                <tr>
                    <td>@transaction.TransactionId</td>
                    <td>@transaction.TimeOfTransaction</td>
                    <td>@transaction.AmountOfTransaction</td>
                </tr>
            }
      </table>