@using System.Security.Claims;
@{
    ViewData["Title"] = "Balance Transactions";
}
@using BetBank.Models.ViewModels
@model BetBank.Models.ViewModels.TransactionModel
<h1>Place a Bet!</h1>

<form asp-action="AddTransaction" asp-controller="Transaction">
    <input type="number" step=".01" name="AmountOfTransaction" value="" /><br />
    <label>Deposit</label> 
    <input type="radio" name="moneyInOut" value="True" /> <br />
    <label>Withdrawl</label> 
    <input type="radio" name="moneyInOut" value="False" /> <br />

    <input type="hidden" name="UserMadeTransAction" value="True" />
    <input type="hidden" name="UserId" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
    <input type="hidden" name="TimeOfTransaction" value="@DateTime.Now" />

    <input type="submit" name="submit" value="Submit" />
</form>
<table>
    <tr>
        <th>Balance in Account</th>
    </tr>
    @foreach(UserData balance in Model.BBbalance)
    { 
    <tr>
        <td>@balance.BetBankBalance</td>
    </tr>
    }
</table>
<table>
    <tr>
        <th>Transaction Id</th>
        <th>Time of Transaction</th>
        <th>Transaction Amount</th>

    </tr>
    @foreach (DepositsAndWithdrawls transaction in Model.transaction)
    {
        <tr>
            <td>@transaction.TransactionId.</td>
            <td>@transaction.TimeOfTransaction</td>
            <td>@transaction.AmountOfTransaction</td>
        </tr>
    }
</table>
