@using System.Security.Claims;
@{
    ViewData["Title"] = "Balance Transactions";
}
@model TransactionModel
@using BetBank.Models.ViewModels

<div class="homeHeader" id="home">

    <h1 style="padding-bottom: 16px;">Add or Withdrawl to your Bet Bank Balance!</h1>


</div>

<div class="topnav" id="myTopnav">
    <a href="../Home/Index">Home</a>
    <a href="../Event/NFLIndex">NFL</a>
    <a href="../Event/NBAIndex">NBA</a>
    @*<a href="../Event/ESportsIndex">E-Sports</a>*@
</div>
<br />
<br />
<form asp-action="AddTransaction" asp-controller="Transaction">
    <input type="number" step="0.01" name="AmountOfTransaction" value="" /><br />
    <label>Deposit:</label> 
    <input type="radio" name="moneyInOut" value="True" /> <br />
    <label>Withdrawl:</label> 
    <input type="radio" name="moneyInOut" checked="checked" value="False" /> <br />

    <input type="hidden" name="UserMadeTransAction" value="True" />
    <input type="hidden" name="UserId" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
    <input type="hidden" name="TimeOfTransaction" value="@DateTime.Now" />

    <input type="submit" name="submit" value="Submit" />
</form>

<table class="table-bordered table-striped text-center" align="center">
    <tr>
        <th>Bet Bank Balance</th>
    </tr>
    <tr>
        <td> @Model.BetBankBalance.ToString("C2")</td>
    </tr>
</table>
<br />
<br />

<table class="table-bordered table-striped text-center" align="center">
    <tr>
        <th>Transaction Id</th>
        <th>Time of Transaction</th>

        <th>Transaction Amount</th>

    </tr>

@{
    int counter = 1;
}
@foreach (DepositsAndWithdrawls transaction in Model.Transactions)
{
    <tr>
        <td>@counter</td>
        <td>@transaction.TimeOfTransaction</td>

        <td>@transaction.AmountOfTransaction.ToString("C2")</td>
    </tr>
    counter++;
}
</table>
