
@{
    ViewData["Title"] = "ViewOpenBets";
}

@model List<RecordOfBets>
<h1 style="text-align:center">Open Bets</h1>

<table class="table">
    <tr>
        <th>Bet Id</th>
        <th>Event Id</th>
        <th>Event Date</th>
        <th>Bet Type</th>
        <th>Amount Bet</th>
    </tr>
    @foreach (RecordOfBets bets in Model)
    {
        <tr>
            <td>@bets.BetId</td>
            <td>@bets.EventId</td>
            <td>@bets.EventDate</td>
            <td>@bets.BetType</td>
            <td>@bets.AmountBet</td>
            <td><a href="../Bet/UpdateBet?id=@bets.BetId">Update Bet</a></td>
            <td><a href="../Bet/DeleteBet?id=@bets.BetId">Delete Bet</a></td>
        </tr>
    }
</table>