@using System.Security.Claims;
@using BetBank.Models.ViewModels;

@{
    ViewData["Title"] = "ViewOpenBets";
}

@model ViewOpenBetsModel
    <div class="homeHeader" id="home">

        <h1 style="padding-bottom: 16px;">Open Bets</h1>


    </div>

<div class="topnav" id="myTopnav">
    <a href="../Home/Index">Home</a>
    <a href="../Event/NFLIndex">NFL</a>
    <a href="../Event/NBAIndex">NBA</a>
    @*<a href="../Event/ESportsIndex">E-Sports</a>*@
</div>

<table class="table">
    <tr>
        <th>Bet</th>
        <th>Event Date</th>
        <th>Line</th>
        <th>Bet Type</th>
        <th>Odd</th>
        <th>Amount Bet</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (KeyValuePair<string, RecordOfBets> bets in Model.recordOfBets)
    {
<tr>
    <td><a href="../Event/ViewEvent?eventId=@bets.Value.EventId">View Event</a></td>
    <td>@bets.Value.EventDate</td>
    <td>@bets.Value.BetMoneyLine</td>
    <td>@bets.Value.BetType</td>
    @if (bets.Value.BetType == "Total")
    {
        if (bets.Value.BetTeam)
        {
            <td>Over @bets.Value.BetOdd</td>
        }
        else
        {
            <td>Under @bets.Value.BetOdd</td>
        }
    }
    else
    {
        @if (bets.Value.BetOdd > 0)
        {
            <td>+@bets.Value.BetOdd</td>
        }
        else
        {
            <td>@bets.Value.BetOdd</td>
        }
    }

    <td>@bets.Value.AmountBet</td>
    <td><a href="../Bet/UpdateBet?id=@bets.Value.BetId">Update Bet</a></td>
    <td><a href="../Bet/DeleteBet?id=@bets.Value.BetId">Delete Bet</a></td>
</tr>
    }
</table>