
@{
    ViewData["Title"] = "NBAIndex";
}

@model BetBank.Models.ViewModels.LeagueEventsModel

    <div class="homeHeader" id="home">

        <h1 style="padding-bottom: 16px;">NBA Games</h1>


    </div>

<div class="tcontainer">
    <div class="ticker-wrap">
        <div class="ticker-move">
            @foreach (EventsTable item in Model.LeaguesEvents)
            {

                @if (item.SpreadHome < item.SpreadAway)
                {
                    <div class="ticker-item">
                        @item.EventDate<br />
                        <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Spread&_eventTime=@item.EventDate&_betTeam=@item.AwayTeam&_homeTeam=@item.HomeTeam&_awayTeam=@item.AwayTeam"><i class="fa fa-chevron-down" style="color:red"></i>@item.AwayTeam @item.SpreadAway</a><br />
                        @*<a href="../Bet/CreateBet?EventId=@item.EventId&BetType=Spread&EventDate=@item.TimeOfEvent&BetTeam=true">@item.HomeTeam @item.HomeOdds</a><br />*@

                        <div style="text-align:center">at</div>
                        <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Spread&_eventTime=@item.EventDate&_betTeam=@item.HomeTeam&_homeTeam=@item.HomeTeam&_awayTeam=@item.AwayTeam"><i class="fa fa-chevron-up" style="color:green"></i>@item.HomeTeam @item.SpreadHome</a><br />
                    </div>
                }
                else
                {
                    <div class="ticker-item">
                        @item.EventDate<br />
                        <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Spread&_eventTime=@item.EventDate&_betTeam=@item.AwayTeam&_homeTeam=@item.HomeTeam&_awayTeam=@item.AwayTeam"><i class="fa fa-chevron-up" style="color:green"></i>@item.AwayTeam @item.SpreadAway</a><br />
                        @*<a href="../Bet/CreateBet?EventId=@item.EventId&BetType=Spread&EventDate=@item.TimeOfEvent&BetTeam=true">@item.HomeTeam @item.HomeOdds</a><br />*@

                        <div style="text-align:center">at</div>
                        <a href="../Bet/CreateBet?_eventId=@item.EventId&_BetType=Spread&_eventTime=@item.EventDate&_betTeam=@item.HomeTeam&_homeTeam=@item.HomeTeam&_awayTeam=@item.AwayTeam"><i class="fa fa-chevron-down" style="color:red"></i>@item.HomeTeam @item.SpreadHome</a><br />

                    </div>
                }

            }
        </div>
    </div>
</div>

<div class="topnav" id="myTopnav">
    <a href="../Home/Index">Home</a>
    <a href="../Event/NFLIndex">NFL</a>
    <a href="../Event/NBAIndex">NBA</a>
    <a href="../Event/ESportsIndex">E-Sports</a>
</div>


<table class="table">
    <tr>
        <th>Game</th>
        <th>Spread</th>
        <th>Money Line</th>
        <th>Over/Under</th>

    </tr>
    @foreach (EventsTable item in Model.LeaguesEvents)
    {
        <tr>
            <td>
                @item.EventDate<br />
                <strong>@item.AwayTeam</strong><br />
                <strong>at</strong><br />
                <strong>@item.HomeTeam</strong>
            </td>
            <td>
                @item.AwayTeam.ToUpper().Substring(0, 3) (@item.SpreadAway)<br />
                @item.HomeTeam.ToUpper().Substring(0, 3) (@item.SpreadHome)<br />
                @if (item.SpreadHome > item.SpreadAway)
                {


                    <label><strong>Favorites(@item.AwayTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (item.PointSpreadAwayMoney * -1 / (item.PointSpreadAwayMoney * -1 + 100) * 100)))%</label>
                    <br />
                    <label><strong>Underdog(@item.HomeTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (100 / ((item.PointSpreadHomeMoney * -1) + 100) * 100)))%</label>

                }
                else
                {


                    <label><strong>Favorites(@item.HomeTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (item.PointSpreadHomeMoney * -1 / (item.PointSpreadHomeMoney * -1 + 100) * 100)))%</label>
                    <br />
                    <label><strong>Underdog(@item.AwayTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (100 / ((item.PointSpreadAwayMoney * -1) + 100) * 100)))%</label>
                }
            </td>
            <td>
                @item.AwayTeam.ToUpper().Substring(0, 3) <strong>ML</strong> (@item.MoneyLineAway)<br />
                @item.HomeTeam.ToUpper().Substring(0, 3) <strong>ML</strong> (@item.MoneyLineHome)<br />


                @if (item.MoneyLineHome > item.MoneyLineAway)
                {
                    <label><strong>Favorites(@item.AwayTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (item.MoneyLineAway * -1) / (item.MoneyLineAway * -1 + 100) * 100))%</label>
                    <br />
                    <label><strong>Underdog(@item.HomeTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (100 / (item.MoneyLineHome + 100)) * 100))%</label>
                }
                else
                {
                    <label><strong>Favorites(@item.HomeTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (item.MoneyLineHome * -1) / (item.MoneyLineHome * -1 + 100) * 100))%</label>
                    <br />
                    <label><strong>Underdog(@item.AwayTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (100 / (item.MoneyLineAway + 100)) * 100))%</label>


                }


            </td>
            <td>
                <br />
                <br />

                @if (item.TotalHome > item.TotalAway)
                {
                    <label><strong>Favorites(@item.AwayTeam.ToUpper().Substring(0, 3)):</strong>@(String.Format("{0:n2}", (item.TotalAway * -1) / (item.TotalAway * -1 + 100) * 100))%</label>
                    <br />
                    <label><strong>Underdog(@item.HomeTeam.ToUpper().Substring(0, 3)):</strong>@(String.Format("{0:n2}", (100 / (item.TotalHome + 100)) * 100))%</label>
                }
                else
                {

                    <label><strong>Favorites(@item.HomeTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (item.TotalHome * -1) / (item.TotalHome * -1 + 100) * 100))%</label>
                    <br />
                    <label><strong>Underdog(@item.AwayTeam.ToUpper().Substring(0, 3)):</strong> @(String.Format("{0:n2}", (100 / (item.TotalAway + 100)) * 100))%</label>

                }

            </td>

        </tr>
    }
</table>

